@import '~antd/dist/antd.css';
#body {
  max-width: 1300px; 
  width: 80%;
  margin: auto;
  margin-top: 55px;
}
.App {
  background-color: rgb(250, 250, 250);
}

.ant-row {
  width: 70%;
}
.ant-tooltip-inner {
  color: black;
}
/* .ant-tooltip-content {
  border: 3px solid #91d5ff;
}
.ant-tooltip-arrow-content {
  background: #91d5ff !important;
} */